.open{padding:10px;position:fixed;z-index:9999;top:8px;right:20px;width:50px;height:50px;display:block;cursor:pointer;-moz-transition:opacity 0.2s linear;-webkit-transition:opacity 0.2s linear;transition:opacity 0.2s linear;}
.open:hover{opacity:0.8;}
.open span{display:block;float:left;clear:both;height:4px;width:35px;background-color:#f39c12;position:absolute;right:3px;top:3px;overflow:hidden;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;}
.open span:nth-child(1){margin-top:10px;z-index:9;}
.open span:nth-child(2){margin-top:20px;}
.open span:nth-child(3){margin-top:30px;}
.sub-menu{-webkit-transition:all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);height:0;width:0;right:0;top:0;position:absolute;background-color:rgba(38, 84, 133, 0.54);z-index:18;overflow:hidden;}
.sub-menu li{display:block;float:right;clear:both;height:auto;margin-right:-160px;-webkit-transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.sub-menu li:first-child{margin-top:180px;}
.sub-menu li:nth-child(1){-webkit-transition-delay:0.05s;}
.sub-menu li:nth-child(2){-webkit-transition-delay:0.10s;}
.sub-menu li:nth-child(3){-webkit-transition-delay:0.15s;}
.sub-menu li:nth-child(4){-webkit-transition-delay:0.20s;}
.sub-menu li:nth-child(5){-webkit-transition-delay:0.25s;}
.sub-menu li:nth-child(6){-webkit-transition-delay:0.30s;}
.sub-menu li:nth-child(7){-webkit-transition-delay:0.35s;}
.sub-menu li:nth-child(8){-webkit-transition-delay:0.40s;}
.sub-menu li:nth-child(9){-webkit-transition-delay:0.45s;}
.sub-menu li:nth-child(10){-webkit-transition-delay:0.50s;}
.sub-menu li:nth-child(11){-webkit-transition-delay:0.55s;}
.sub-menu li a{color:#fff;font-family:Sansita, sans-serif;font-size:16px;width:100%;display:block;float:left;line-height:40px;font-weight:300;}
.sub-menu li a:hover{text-decoration:underline;color:#fff;}
.oppenned .sub-menu{opacity:1;height:100%;width:100%;}
.oppenned span:nth-child(2){overflow:visible;}
.oppenned span:nth-child(1), .oppenned span:nth-child(3){z-index:100;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.oppenned span:nth-child(1){-webkit-transform:rotate(45deg) translateY(5px) translateX(5px);transform:rotate(45deg) translateY(5px) translateX(5px);}
.oppenned span:nth-child(2){height:630px;padding:50px 0px;width:360px;right:-160px;top:-140px;background-color:rgba(38, 84, 133, 0.54);}
.oppenned span:nth-child(3){-webkit-transform:rotate(-45deg) translateY(-10px) translateX(10px);transform:rotate(-45deg) translateY(-10px) translateX(10px);}
.oppenned li{/*margin-right:168px;*/ margin-right: 147px;}
.button{display:block;float:left;clear:both;padding:20px 40px;background:#fff;border-radius:3px;border:2px solid #10a1ea;overflow:hidden;position:relative;}
.button:after{-webkit-transition:-webkit-transform 0.3s ease;transition:-webkit-transform 0.3s ease;transition:transform 0.3s ease;transition:transform 0.3s ease, -webkit-transform 0.3s ease;content:"";position:absolute;height:200px;width:400px;-webkit-transform:rotate(45deg) translateX(-540px) translateY(-100px);transform:rotate(45deg) translateX(-540px) translateY(-100px);background:#10a1ea;z-index:1;}
.button:before{-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:-webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);content:attr(title);position:absolute;top:0;left:0;width:100%;height:100%;color:#fff;z-index:2;text-align:center;padding:20px 40px;-webkit-transform:translateY(200px);transform:translateY(200px);}
.button:hover{text-decoration:none;}
.button:hover:after{-webkit-transform:translateX(-300px) translateY(-100px);transform:translateX(-300px) translateY(-100px);}
.button:hover:before{-webkit-transform:translateY(0);transform:translateY(0);}
.ap{float:right;width:100%;position:relative;text-align:center;border-bottom:1px solid #fff;color:#fff;}
contacts-block:nth-child(1){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block:nth-child(2){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block:nth-child(3){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block:nth-child(4){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block:nth-child(5){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block:nth-child(6){box-shadow:0 3px 0 0 #f39c12;}
.contacts-block__title{margin-bottom:2px;font:700 13px ;}
.contacts-block__info{font-size:16px;line-height:1.57;font-weight: 500;color: #777;}
.contacts-block .icon{float:left;font-size:32px;}
.contacts-block_mod-a{margin-bottom:30px;padding:24px 40px 33px;background-color:#f8f8f8;}
.contacts-block_mod-a .contacts-block__title{color:#333;}
.contacts-block_mod-a .contacts-block__inner{margin-left:68px;}
.contacts-block_mod-a .contacts-block__info{margin-top:5px;}
.contacts-block_mod-b{display:inline-block;width:260px;margin:92px 50px 114px;padding-bottom:35px;color:#fff;vertical-align:top;text-align:left;}
.contacts-block_mod-b .contacts-block__title{color:#fff;}
.contacts-block_mod-b .border-bottom{margin-bottom:35px;background-color:#fff;}
.contacts-block_mod-b .contacts-block__inner{margin-left:63px;}

.form-contactus .form-control {
    margin: 1.5% 0;
    font-family: 'Lato', sans-serif;
    display: block;
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0;
    font-size: 13px;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    padding: 6px 20px;
    color: #777;
}

.form-contactus input:focus, .form-contactus textarea:focus {
    border: 1px solid!important;
    color: #f39c12!important;
    transition: all .8s linear;
}
.lgo.fitw {
    width: 120px;
}